html,
body,
main,
.container {
  height: 100%;
}

#landing {
  opacity: 1;
  transition: opacity 1s;
}

#landing.fade {
  opacity: 0;
}

#home {
  opacity: 1;
  transition: opacity 1s;
}

#home.fade {
  opacity: 0;
}

#gameWordEnglish {
  opacity: 1;
  transition: opacity 0.5s;
}

.hide {
  opacity: 0 !important;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s;
}
